/* 
Recreate the Flex-ception output using the Flex Box properties you've learned. 
You shouldn't be using margin, padding, or any other Box Model properties really 
*/

.container{
    display: flex;
    justify-content: space-around
    
}

.big-box{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    
}

.mid-box{
    height: 60px;
    width: 60px;
    background-color: plum;
    outline: purple 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lil-box{
    height: 10px;
    width: 10px;
    background-color: palevioletred;
    outline: purple 1px solid;        
}

h1 {
    color:white;
    margin: 0;
    padding: 0;
    text-align:center;
    font-weight:bold;
    font-size: 4em; 
    position: absolute;   
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%)
}