.container{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 100px 500px 300px 400px 400px 500px 300px 400px 100px;
    grid-template-areas: 
    "nav nav"
    "main main"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "section5 section5"
    "section6 section6"
    "footer footer"


}

.top-nav{
    background-color: black;
    grid-area: nav;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: gray;
    grid-area: main;
}

.future{
    background-color: black;
    grid-area: section1;
}

.award{
    background-color: white;
    grid-area: section2;
}

.download{
    
    background-color: black;
    grid-area: section3;
}

.info-section{
    outline: 1px solid aqua;
    background-color: black;
    grid-area: section4;
}

.explore-link{
    outline: 1px solid aqua;
    background-color: black;
    grid-area: section5;
}

.closing{
    
    background-color: white;
    grid-area: section6;
}

footer{
    outline: 1px solid black;
    grid-area: footer;
}

ul{
    list-style: none;
    width: 60px;
}
